In [4]:
%run ./data/data.ipynb

/home/cjvanzwol/covid
Pulling data from sources.json:
(Source: CBS)  deceased @ https://opendata.cbs.nl/statline/portal.html?_catalog=CBS&_la=nl&tableId=70895ned&_theme=76
(Source: CBS)  population @ https://opendata.cbs.nl/statline/portal.html?_catalog=CBS&_la=nl&tableId=37230ned&_theme=76
(Source: RIVM)  counts_per_municipality @ https://data.rivm.nl/geonetwork/srv/dut/catalog.search#/metadata/5f6bc429-1596-490e-8618-1ed8fd768427
(Source: RIVM)  prevalence @ https://data.rivm.nl/geonetwork/srv/dut/catalog.search#/metadata/097155aa-75eb-4caa-8ed3-4c6edb80467e
(Source: RIVM)  r @ https://data.rivm.nl/geonetwork/srv/dut/catalog.search#/metadata/ed0699d1-c9d5-4436-8517-27eb993eab6e
(Source: RIVM)  homes_for_elderly @ https://data.rivm.nl/geonetwork/srv/dut/catalog.search#/metadata/0179dd26-7bf6-4021-857f-8623aaf8e73a
(Source: RIVM)  homes_for_disabled @ https://data.rivm.nl/geonetwork/srv/dut/catalog.search#/metadata/aa28b74d-7150-47bc-a7cb-98876e93381b
(Source: RIVM)  seventy_plus_living_at_home @ https://data.rivm.nl/geonetwork/srv/dut/catalog.search#/metadata/40508e17-7296-4f39-ad25-8ddd0c904087
(Source: RIVM)  sewage @ https://data.rivm.nl/geonetwork/srv/dut/catalog.search#/metadata/a2960b68-9d3f-4dc3-9485-600570cd52b9
(Source: RIVM)  support_and_behavior @ https://data.rivm.nl/geonetwork/srv/dut/catalog.search#/metadata/8a72d78a-fcf8-4882-b0ab-cd594961a267?tab=relations
(Source: RIVM)  wekelijkse_update @ https://www.rivm.nl/coronavirus-covid-19/actueel/wekelijkse-update-epidemiologische-situatie-covid-19-in-nederland
(Source: NICE)  hospital_admission @ https://data.rivm.nl/geonetwork/srv/dut/catalog.search#/metadata/4f4ad069-8f24-4fe8-b2a7-533ef27a899f
(Source: NICE)  ic_admission @ https://data.rivm.nl/geonetwork/srv/dut/catalog.search#/metadata/45f911c4-3a62-42f1-b594-524a75db2c94
(Source: LCPS)  hospital_occupation @ https://lcps.nu/datafeed/
(Source: Nivel)  general_practioner @ https://www.nivel.nl/nl/nivel-zorgregistraties-eerste-lijn/monitor-cijfers-covid-19-achtige-klachten-huisartsenpraktijken#opendata

Creating dataframes for analysis:
dataframe from cbs created, per week per agegroup: deceased_week_agegroup
dataframe from cbs created, per week: deceased_per_week
dataframe from cbs created, per year per agegroup: deceased_year_agegroup
dataframe from cbs created, per year: deceased_per_year
dataframe from cbs created, per month per municipality: population_month_municipality
dataframe from cbs created, per year per municipality: population_year_municipality
dataframe from cbs created, per month: population_per_month
dataframe from cbs created, per month: population_per_year
dataframe for RIVM data created, per day: rivm_per_day
dataframe for RIVM data created: rivm_per_week
dataframe for RIVM data created, per month: rivm_per_month
dataframe for RIVM data created, per month: rivm_per_month
dataframe from cbs created, per week per agegroup: rivm_week_agegroup
dataframe CBS and RIVM combined, per week: per_week
dataframe CBS and RIVM combined, per month: per_month
dataframe CBS and RIVM combined, per month: per_year

# Check RIVM modellen
https://www.rivm.nl/coronavirus-covid-19/hoe-berekeningen-bijdragen-aan-bestrijding-van-virus/rekenmodellen

https://github.com/lo-hfk/epyestim

## trying SEIR
https://pypi.org/project/SEIR/

In [160]:
from SEIR import seir

In [161]:
model = seir.SEIR(incubation_period=5,
               infectious_period=5,
               initial_R0=1,
               hospitalization_probability=0.5,
               hospitalization_duration=10,
               hospitalization_lag_from_onset=2,
               icu_probability=0.1,
               icu_duration=5,
               icu_lag_from_onset=4,
               death_probability=0.2,
               death_lag_from_onset=4,
               population=17000
)

In [162]:
from SEIR import visualization

In [163]:
from SEIR import cli

In [164]:
cli()

TypeError: 'module' object is not callable

## trying epintervene
https://github.com/andrea-allen/epintervene

In [ ]:
import epintervene

## trying covid-seird
https://github.com/pblins/covid_seird

In [235]:
from covid_seird import CountryCovidSeird
CountryCovidSeird.code_search("netherlands")

{'NL': 'Netherlands'}

In [236]:
nl = CountryCovidSeird("nl")

In [237]:
nl.data

                      confirmed  deaths
2020-03-13T00:00:00Z          2       0
2020-03-14T00:00:00Z          2       0
2020-03-15T00:00:00Z          2       0
2020-03-16T00:00:00Z          2       0
2020-03-17T00:00:00Z          3       0
...                         ...     ...
2021-11-07T00:00:00Z      16006     172
2021-11-08T00:00:00Z      16011     172
2021-11-09T00:00:00Z      16011     172
2021-11-10T00:00:00Z      16039     172
2021-11-11T00:00:00Z      16057     172

[609 rows x 2 columns]

In [238]:
per_week = per_week.reset_index()
per_week['YW'] = per_week['year']*100+per_week['week']
per_week.set_index('YW',inplace=True)
per_week = per_week[['Positive_tests','Deceased_covid']]
per_week.rename(columns = {'Positive_tests':'confirmed', 'Deceased_covid':'deaths'}, inplace = True)
per_week.dropna(inplace=True)

In [242]:
nl.data = nl.data.append(per_week)

AttributeError: can't set attribute

In [230]:
nl.data.reset_index(inplace=True)
nl.data.rename(columns={'index': 'in'}, inplace=True)

In [227]:
nl.data

                       in  confirmed  deaths
0    2020-03-13T00:00:00Z          2       0
1    2020-03-14T00:00:00Z          2       0
2    2020-03-15T00:00:00Z          2       0
3    2020-03-16T00:00:00Z          2       0
4    2020-03-17T00:00:00Z          3       0
..                    ...        ...     ...
604  2021-11-07T00:00:00Z      16006     172
605  2021-11-08T00:00:00Z      16011     172
606  2021-11-09T00:00:00Z      16011     172
607  2021-11-10T00:00:00Z      16039     172
608  2021-11-11T00:00:00Z      16057     172

[609 rows x 3 columns]

In [221]:
nl.data['Z'] = nl.data['in'].str.count("Z")
nl.data[nl.data['Z'] == 0]

Empty DataFrame
Columns: [in, confirmed, deaths, Z]
Index: []

In [220]:
nl.data.apped(per_week)
nl.data

AttributeError: 'DataFrame' object has no attribute 'apped'

In [97]:
nl.fit()

AttributeError: 'DataFrame' object has no attribute 'fit'

In [58]:
nl.r2

0.8636476267009753

In [59]:
nl.r0

39.902648936547386

In [60]:
nl.plot_fit("nl_fit_plot")

In [68]:
nl.simulation(days_ahead=150)

In [69]:
nl.curves['infected']

0      5.803488e-08
1      3.701945e-08
2      2.424688e-08
3      1.654439e-08
4      1.184024e-08
           ...
754    7.771485e-04
755    7.768216e-04
756    7.764948e-04
757    7.761682e-04
758    7.758417e-04
Name: infected, Length: 759, dtype: float64

In [70]:
nl.plot_simulation("nl_simulation_plot")